<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
    <!--STYLES-->
    <!--STYLES END-->
  
<meta name="NetsparkQuiltingResult" total-length="18954" removed="0" rules-found="w7535,w7568,w2781,w2127,w4233,w4234,w4283,w4249,w4250,w7925,w7936,w7937,w2152,w7926,w5330,w5331,w2151,w4670,w3410,w3411,w3412,w6420,w219,w8198" />
</head>
  <body ng-app="brushfire_bookPage" ng-controller="PageCtrl">
    <div class="container-fluid">
      <nav class="navbar navbar-default navbar-inverse">
        <!-- This creates the mechanism for collapse button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target=".navbar-collapse">
        <!-- This controls the number of lines in the image when the nav collapse -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <!-- This is the brand on the left-hand side. -->
        <a href="/#" class="pull-left"><img height="29" width="25" src="/images/logo.png"
            style="margin-top: 10px; margin-left: 10px;"></a>
        <a class="navbar-brand" href="/#"> Brushfire</a>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/videos">Videos</a></li>
            <li><a href="/bbooks">Books</a></li>
          </ul>
        </div>
      </nav>
      <!-- SUBMIT NEW VIDEO -->
       <section class="the-submit-Image-form col-md-4">
        <h3>See something missing?</h3>
        <form ng-submit="submitNewBook()" >
          <input class="form-control" type="text" ng-model="newBookTitle"
          ng-disabled="busySubmittingImage" name="title" placeholder="e.g. My Book title"/>
           <input class="form-control" type="text" ng-model="newAuthorTitle"
          ng-disabled="busySubmittingImage" name="author"
          placeholder="e.g. Artist"/>
         <input class="form-control" type="text" ng-model="newImagSrc"
          ng-disabled="busySubmittingVideo" name="src"
          placeholder="e.g Image"/>
           <button class="btn btn-success" type="submit" ng-disabled="busySubmittingImage">
            {{ busySubmittingImage ? 'Submitting...' : 'Submit Book' }}
          </button>
        </form>
      </section>
      <!-- LIST OF VIDEOS -->
      <section class="the-list-of-books col-md-12">
        <div class="loading" ng-if="booksLoading">Loading videos...</div>
        <ul class="list-unstyled">
          <li class="book" ng-repeat="book in books" ng-if="!booksLoading">
            <h2>{{ book.title }}</h2>
            <h4> {{ book.author }}</h4>
            <image width="290" height="390" ng-src="{{book.image}}"/>
           </iframe>
          </li> 
      <!--<a href="/#" class="pull-left"><img height="29" width="25" src="/images/logo.png"-->
      <!--      style="margin-top: 10px; margin-left: 10px;"></a>-->
        </ul>
      </section>
    </div>
    <!--TEMPLATES-->
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <!--SCRIPTS END-->
  </body>
</html>
